<html>
<head>
	<title>Hive</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/hive.css">

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Lato|PT+Sans|Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Brand</a>
			<a href="#" class="navbar-icon"><span class="glyphicon glyphicon-comment"></span></a>
			<a href="#" class="navbar-icon"><span class="glyphicon glyphicon-edit"></span></a>
		</div>
	</div>


	<div class="container">
<!-- 		<nav class="navbar">
			<div id="logo">
				<h2 id="appname">Hive</h2>
			</div>
			<div id="settings-cog">
				<button type="button" class="btn btn-default" aria-label="Left Align">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</button>
			</div>
			<div class="navbar-right">
				<div>
				</div>
				<div>
				</div>
			</div>
		</nav>
	-->
	<div class="header">
		<h2 class="header-text">This Week</h2>
	</div>

	<div class="header">
		<h2 class="header-text">Upcoming Week</h2>
	</div>
</div>
</body>
</html>