<html>
<head>
	<title>Hive - Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" href="css/splash.css">

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/links.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato|PT+Sans|Open+Sans|Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <form class="login" method="post">
        <h1>Hive</h1>
        <h2>{{message}}</h2>
        <div class="login">
            <div class="login-information">
                <ul>
                    <form>
                        <li><input name="email" type="text" placeholder="email"></li> 
                        <br>
                        <li><input name="password" type ="password" placeholder="password"></li>
                    </form>
                </ul>
            </div>
            <div class="login-button">
                <input type="submit" value="LOG IN" class="loginbutton"></input>
                <a href="/signup" id="signupbutton">SIGN UP</a>
            </div>
        </div>
    </form>
</body>
</html>