<!DOCTYPE html>
<html ng-app="welcome">

	<head>
<!--    <link data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" rel="stylesheet" href="http://code.ionicframework.com/1.0.0-beta.6/css/ionic.css" />
		<script data-require="ionic@1.0.0-beta6" data-semver="1.0.0-beta6" src="http://code.ionicframework.com/1.0.0-beta.6/js/ionic.bundle.js"></script> -->
	<title>Cahoots</title>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="../ionic/css/ionic.css" rel="stylesheet">
	<link href="../ionicons/css/ionicons.css" rel="stylesheet">
	<link href="stylesheet" href="css/welcome.css">
	<link rel="stylesheet" type="text/css" media="only screen and (min-height: 550px), only screen and (max-device-height: 575px)" href="css/medium-device.css" />
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 330px), only screen and (max-device-width: 330px)" href="css/small-device.css" />

	<link href='http://fonts.googleapis.com/css?family=Lato|PT+Sans|Open+Sans|Poiret+One' rel='stylesheet' type='text/css'>

	<!-- ionic/angularjs js -->
	<script src="../jquery/dist/jquery.js"></script>
	<script src="../ionic/js/ionic.bundle.js"></script>
		<script src="../js/welcome.js"></script>
	</head>

<body>
	<div class="mainContainer">
		<ion-nav-view></ion-nav-view>

		<script type="text/ng-template" id="main.html">
			<ion-nav-bar class="bar navbar">
    <ion-nav-back-button class="icon-left button-clear button-light" style="color: white; font-size:15px; ">
      Back
    </ion-nav-back-button>
			</ion-nav-bar>

			<ion-nav-view name="welcome"></ion-nav-view>
		</script>

	<!-- Welcome -->
	 <script type="text/ng-template" id="welcome.html">
			<ion-view hide-nav-bar="true" title="">
				<ion-content>
					<div class="logo">
						<img src="images/owl.png" alt="logo" class="logo">
					</div>
					<div class="welcome-title">
						Cahoots
					</div>

				<div class ="tagline">
					<p> Your <b>peers</b> know what to do... <br> now <b>you</b> do too. </p>
				</div>

		<div style="" class="welcome-content">
          <i class="ion-ios-list-outline"></i>
            <p id="shared"> All your tasks, for all your classes in one place.</p>
						<br>
          <i class="ion-ios-world"></i>
            <p id="todolist"> Add tasks your classmates share with one click.</p>
            </div>
            	<div class="buttons">
					<div style="margin-left: auto; margin-right: auto; text-align: center;">
					<a nav-transition="none" nav-direction="back" href="#/signup"><input type="submit" value="SIGN UP" class="button button-large welcome-button-signup" ></a>
					</input>
					<br>

          <input type="submit" value="LOG IN" class="button button-large button-outline  welcome-button-login" ui-sref="app.welcome.login()">
					</input>
					</div>
          </div>
				</ion-content>
			</ion-view>
		</script>
	
	<!-- Log In -->
		<script type="text/ng-template" id="login.html">
			<ion-view title="Log In" >
				<ion-content>
					<div class="list">
						<label class="item item-input">
							<input ng-model="email" type="text" placeholder="@ucsd.edu email">
						</label>
						<label class="item item-input">
							<input ng-model="password" type="password" placeholder="password">
						</label>
					</div>
		<div style="margin-left: auto; margin-right: auto; text-align: center;">							
          <input type="submit" ng-click="login(email, password)" value="LOG IN" class="button button-large   welcome-button-login" ui-sref="app.welcome.login()">
					</input>
		</div>
				</ion-content>
			</ion-view>
		</script>

	<!-- Sign Up-->
		<script type="text/ng-template" id="signup.html">
			<ion-view title="Sign Up" >
				<ion-content>
				 <div class="list">
						<label class="item item-input">
							<input ng-model="name" type="text" placeholder="name">
						</label>
						<label class="item item-input">
							<input ng-model="email" type="text" placeholder="@ucsd.edu email">
						 </label>
						 <label class="item item-input">
							 <input ng-model="password" type="password" placeholder="password">
							</label>
					</div>
				<div style="margin-left: auto; margin-right: auto; text-align: center;">
					<input type="submit" value="SIGN UP" class="button button-large  welcome-button-signup" id="signupbutton" ng-click="signup(name, email, password)">
					</input>
				</div>

				</ion-content>
			</ion-view>
		</script>
		</div>
	</body>
</html>
	
</html>