body {
	background-image:url(../images/school.png); background-repeat:repeat
}

.header {
	background-color: #FFCC11;
	height:55px;
}
.header-text {
	font-family: 'Lato';
	font-size: 35px;
	padding-bottom: 8px;
	padding-top: 8px;
	color:#444444;
}

#appname {
	color: #C0A090;
}

.settings-cog {
	color: #FAE62C
}

.container {
	background-color: #FAE62C;
}

.navbar-header .navbar-icon {
    line-height:50px;
    height:50px;
}

.navbar-header  a.navbar-icon {
	    line-height:50px;
    height:50px;

    padding: 0 10px;
      float:left;

          line-height:50px;
    height:50px;

}