body {
	background-image:url(/images/geometry.png); background-repeat:repeat;
}

.item-divider {
	background-color: #f8f8f8 !important;
}

.mainContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-left: 2px solid #ddd; 
	border-right: 2px solid #ddd; 
}

/* Navigation Bar */

.badge {
	background-color: #c51236 !important; 
}

.topnavbar {
	background-color: #5C97BF !important;
	color: white;
}

.tabs {
   color:  #2980b9  !important;
}

.light {
	color:#5C97BF !important;
}


/* Shared Task Page */

.title {
	font-family: 'Poiret One';
	font-size: 25px !important;
}

.course {
	font-family: 'Open Sans';
	font-size: 14px;
	display: inline;
}

.date {
	float: right;
	font-size: 18px;
	font-family: 'Open Sans';
}

.endorsed {
	font-family: 'open sans';
	font-size: 12px;
}

.accept {
	color:  #5C97BF !important;
	border-color:  #5C97BF  !important;
	font-size: 15px !important	;
	width: 82px !important;*/
	padding-right: 4px !important;
	padding-left: 4px !important;
	padding-top: 2px !important;
	padding-bottom: 1px !important; 
	height: 35px !important;
	margin-right: 8px !important;
	vertical-align: middle !important;

}
.action-buttons {
	display: inline-block !important;
}
.decline {
	color:  white !important;
	background-color:  #5C97BF  !important;
	width: 80px !important;
	font-size: 15px !important;
	height: 33px !important;
	border-color: #417ea7;
	padding-right: 4px !important;
	padding-left: 4px !important;
	padding-top: 2px !important;
	padding-bottom: 1px !important;
	border-top: 1px !important;
	border-bottom: 1px !important;
	border-left: 1px !important;
	border-right: 1px !important;
	margin-left: 8px !important;
	vertical-align: middle !important;
}

.button-clear {
	font-size: 20px;
	font-family: 'Open Sans';
	padding-right: 25px;
}

.ion-ios-checkmark-empty {
	font-size: 28px !important;
	vertical-align: middle !important;
}
.ion-ios-close-empty {
	 font-size: 28px !important;
	 padding-right: 3px; 
	 vertical-align: middle !important;
}

/* Main Task Page */

.item-icon-right > .icon {
  z-index: 4;
}

.task-title {
/*	font-size:14px;
	display: inline;
	padding-right: 10px;
	width:10px !important;
	min-height:100px;
	min-width: 40px;
	max-width: 50px;
	background-color: red;*/
/*	word-wrap: break-word;*/
	/*width: 10em; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/
}

.tasks {
	padding-top:5px;
	margin-top: -3px;
/*	display: inline;
*/	margin:0 auto;
}

.tasks-left {
    display:inline-block;
    vertical-align:middle;
    width:80%;
    float-left;
}

.tasks-right {
    display:inline-block;
    vertical-align:middle;
    width:20%;
    float-right;
}

.course-title {
	font-size:13px;
	font-family: 'Open Sans'
}

.date-title {
	float: right;
	display: inline;
	font-size: 15px; 
	vertical-align: middle;
}

.item {
	font-family: 'Open Sans';
}

.detail-header {
	font-size: 14px;
}

.detail {
	font-size: 12px;
}



/* Add Task Page */

input[type="text"], textarea {
	font-family: 'Open Sans';
}


input[type="time"] {
	font-family: 'Open Sans';
	font-size: 16px;
	font-color: #444;
	float: right;
}

.time {
	display: inline;
	position: relative;
	width: 40px;
	color: #444;
}

.date {
	display: inline;
	color: #444;
}

.due-date {
	font-size: 16px;
	font-family: 'Open Sans';   
	color: #444;
}

#due_date {
	text-align: right;
}

#due_time {
	text-align: right;
}

.class {
	font-size: 16px;
	font-family: 'Open Sans';
}

.event-details {
	padding-bottom: 20px;
}

.event-actions {
	padding-bottom: 10px;
}

.item-checkbox .checkbox {
	position: absolute;
	top: 35%;
	right: 8px;
	left: 8px;
	z-index: 3;
	margin-top: -21px;
}

.logout {
	margin-top: 10px !important;
}

.add {
	background-color: #6ca1c5 !important;
	border-color: #5c97bf !important;
	font-family: 'Open Sans';
	color: white !important;
	font-size: 20px !important
}

/* Tasks Details */

.task-detail-endorsed {
	 float: left;
	display: inline;
	font-size: 15px; 
}

.task-detail-delete {
	float: right;
	display: inline;
	font-size: 17px; 
}

.task-detail-title {
	font-size:17px;
	display: inline;
	padding-right: 10px;
}

.task-detail-date {
	font-size:14px;
	padding-right: 10px;
	padding-top: 5px;
}

.task-detail-class {
	font-size:15px;
	padding-right: 10px; 
}
