
/* Shared Task Page */

.title {
    font-family: 'Open Sans';
    font-size: 17px;
}

.course {
    font-family: 'Open Sans';
    font-size: 14px;
    display: inline;
}

.date {
    float: right;
    font-size: 18px;
    font-family: 'Open Sans';
}

.endorsed {
    font-family: 'open sans';
    font-size: 12px;
}

.action-buttons {
    margin: 0 auto;
    left: 50%;
    width: 200px;
}

.button-clear {
    font-size: 20px;
    font-family: 'Open Sans';
    padding-right: 25px;
}

/* Main Task Page */

.task-title {
    font-size:20px;
    display: inline;
    padding-right: 10px;
}

.tasks {
    padding-top:5px;
    margin-top: -3px;
}

.course-title {
    font-size:15px;
    padding-left: 5px;
}

.date-title {
    float: right;
    display: inline;
    font-size: 22px;
    margin-top: 5px;   
}

.item {
	font-family: 'Open Sans';
}

/* Add Task Page */

input[type="text"], textarea {
    font-family: 'Open Sans';
    font-size: 16px;
    font-color: #444;
}


input[type="time"] {
    font-family: 'Open Sans';
    font-size: 16px;
    font-color: #444;
    float: right;
}

.time {
	display: inline;
	position: relative;
	width: 40px;
}

.date {
	display: inline;
}

.event-details {
	padding-bottom: 20px;
}

.event-actions {
	padding-bottom: 10px;
}

