body {
    background-color: #fff3b2;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.login h1 {
    font-family: "Poiret One";
    font-size: 100px;
    text-align: center;
    color: 444444;
    display: block;
    padding-top: 80px;
}

.login-information {
    text-align: center;
    display: block;
}

#username {
    background-color: #fff3b2;
    width: 180px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Open Sans';
}

#password {
    background-color: #fff3b2;
    width: 180px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Open Sans';
}

input[type="text"]:focus {
    outline: none;
}

.login ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.login-button {
    text-align: center;
    padding: 30px;
}