body {
    background-color: #fff3b2;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.login h1 {
    font-family: "Poiret One";
    font-size: 130px;
    text-align: center;
    color: #444444;
    display: block;
    padding-top: 80px;
}

.login {
    padding: 40px;
    position: relative;
}

.login-information {
    text-align: center;
    display: block;
}
input::-webkit-input-placeholder {
    color: #ccc28e;
    text-transform: uppercase;

}
input[type="text"], textarea {
    background-color: #fff3b2;
    width: 230px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Open Sans';
    border-bottom-color: #eae1b3;
}

input[type="password"], textarea {
    background-color: #fff3b2;
    width: 230px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: 'Open Sans';
    border-bottom-color: #eae1b3;
}

input[type="text"]:focus {
    outline: none;
}

input[type="password"]:focus {
    outline: none;
}

.login ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.login-button {
    text-align: center;
    position: relative;
    padding-top: 40px;
 }

.loginbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #fff3b2, #fff3b2);
  background-image: -moz-linear-gradient(top, #fff3b2, #fff3b2);
  background-image: -ms-linear-gradient(top, #fff3b2, #fff3b2);
  background-image: -o-linear-gradient(top, #fff3b2, #fff3b2);
  background-image: linear-gradient(to bottom, #fff3b2, #fff3b2);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Open sans';
  color: #ccc28e;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #eae1b3 2px;
  text-decoration: none;
  margin-right: 10px;
}

#signupbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -moz-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -ms-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -o-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: linear-gradient(to bottom, #eae1b3, #eae1b3);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Open sans';
  color: #fff3b2;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #eae1b3 2px;
  text-decoration: none;
}

/* Sign Up */
.sign-up-bar {
  height: 35px;
  margin: 0 auto;
  background-color: #ccc28e;
}

#sign-up-header {
    font-size: 25px;
    font-family: 'Open Sans';
    text-align: center;
    vertical-align: middle;
    color: #fff3b2;
}

.signup-button {
    text-align: center;
    position: relative;
    padding-top: 40px;
 }

#sign-up-email {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -moz-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -ms-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: -o-linear-gradient(top, #eae1b3, #eae1b3);
  background-image: linear-gradient(to bottom, #eae1b3, #eae1b3);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Open sans';
  color: #fff3b2;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #eae1b3 2px;
  text-decoration: none;
}


































