body {
	margin: 0 auto;
    background-image:url(/images/geometry.png); background-repeat:repeat;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 130px;
	margin-bottom: -20px;
	padding-top: 10px;
}

@media (min-width: 701px) {
	.mainContainer {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    max-width: 700px;
	    margin-left: auto;
	    margin-right: auto;

	    border-style: solid;
	    border-left: 2px solid #ddd; 
	    border-right: 2px solid #ddd; 
	   background-color:  #5C97BF;

	}
}
h1 {
	color: white !important;
	font-family: 'Open Sans';
}
.navbar {
		background-color:  #5C97BF !important;
		border-color: #5c97bf !important;
}
.welcome-title {
	font-family: 'Poiret One';
	font-size: 50px;
	line-height: 45px;
	text-align: center;

	padding-bottom: 35px;
}

.tagline {
    margin-left: auto;
    margin-right: auto;
    text-align: center;	
    padding-bottom: 10px;
   	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 25px;
	color:#3a7094 ;
}
.welcome-content { 
    margin-left: auto;
    margin-right: auto;
    min-width:300px;
    max-width:400px;
}

.welcome-button-signup {
	font-size: 25px;
	font-family: 'Poiret One';
	text-align: center;
	margin-top: 10px;
/*	vertical-align: middle;*/
	min-width:350px;
	max-width: 500px;
		background-color:  #5C97BF !important;
		border-color: #5c97bf !important;
		color: white;

}
.welcome-button-login {
	font-size: 25px;
	font-family: 'Poiret One';
	text-align: center;
	margin-top: 20px;
/*	vertical-align: middle;*/
	min-width:350px;
	max-width: 500px;
border-color: #5c97bf !important;
		color: #3a7094 !important;
		background-color: white;

}

input[type="password"], textarea {
	font-size: 16px;
}

input[type="text"], textarea {
	font-size: 16px;
}


#welcometohive {
	font-size:55px;
}

.ion-ios-world {
	font-size: 44px;
	padding-left: 20px;

}

.buttons {
	padding-bottom: 20px;
}

#shared {
	padding-left:70px;
	margin-top: -45px;
	width:98%;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 25px;	
}


.ion-ios-list-outline {
	font-size: 44px;
	padding-left: 20px;

}

#todolist{
	padding-left:70px;
	margin-top: -45px;
	padding-bottom: 30px;
	width:98%;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 25px;	
}

/*input[type="text"], textarea {
    color:#f0b840;
}
*/
.cursor { font-size: 12px; background-color: red; color: red; position: relative; opacity: 0.5; }