<ion-view view-title="AddClass">
  <ion-content class="padding">

    <ion-list> 
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>

      <ion-list>
        <div class="search-results">

        <div ng-repeat="class in classes">
          <div class="item item-icon-right">
            <a ng-click="addClass(class)"><i class="icon ion-ios-plus-outline"></i></a>
            {{class.name}}

          </div>
        </div>


        </div>
      </ion-list>



    </ion-list>
  </ion-content>
</ion-view>