<ion-view view-title="AddClass">
  <ion-content class="padding">
  
    <ion-list> 
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>

      <ion-list>
        <a class="item">
          CSE 167
        </a>

        <a class="item">
          VIS 40
        </a>
      </ion-list>



    </ion-list>
  </ion-content>
</ion-view>