<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list">

    <!-- Completed Tasks -->
      <div class="item item-divider">
        Archived
        <a class="item-archived item-icon-right"><i class="icon ion-ios-arrow-down"></i></a>
      </div>

      <ion-checkbox ng-repeat="userTask in archived" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
        <div class="tasks">
          <div class="task-title">
            {{userTask.task.name}}
          </div>
          <div class="date-title">
            {{userTask.task.due_date}}
          </div>
          <div class="course-title">
            {{userTask.task.class.name}}
          </div>
        </div>
      </ion-checkbox>

    <!-- This Week -->
      <div class="item item-divider">
        This Week
        <a class="item-thisweek item-icon-right"><i class="icon ion-ios-arrow-right"></i></a>
      </div>

      <!-- This Week Task -->
      <ion-checkbox ng-repeat="userTask in this_week" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
      <div class="task-content">
        <div class="tasks">
          <div class="task-title">
            {{userTask.task.name}}
          </div>
          <div class="date-title">
            {{userTask.day_of_the_week}}
          </div>
          <div class="course-title">
            {{userTask.task.class.name}}
          </div>
	        <div class="task-detail-arrow">
	      		<i class="ion-chevron-down"></i>
	      	</div>
        </div>
        <div class="task-details">
        df
        </div>
        </div>

      </ion-checkbox>


      <!-- Upcoming -->
      <div class="item item-divider">
        Upcoming
        <a class="item-upcoming item-icon-right"><i class="icon ion-ios-arrow-right"></i></a>
      </div>

      <!-- Upcoming Task -->
      <ion-checkbox ng-repeat="userTask in upcoming" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
        <div class="tasks">
          <div class="task-title">
            {{userTask.task.name}}
          </div>
          <div class="date-title">
            {{userTask.task.due_date}}
          </div>
          <div class="course-title">
            {{userTask.task.class.name}}
          </div>
        </div>
      </ion-checkbox>

    </div>
  </ion-content>
</ion-view>
