<ion-view view-title="Add Task">
	<ion-content class="padding">
		<div class="list">

		<!--Basic Details -->	
		<div class="event-details"> 
			<div class="item item-divider">
				Basic Details
			</div>

			<div class="list">
 			 <label class="item item-input">
  		  <input type="text" placeholder="Task Name">
 			 </label>

				<label class="item item-input item-select" style = "height: 47px;">
					<span class="date">Class</span>
					<select name ="select_projects">
						<option>COGS120</option>
						<option>CSE132A</option>
					</select>
				</label>

				<label class="item item-input">
					<span class="date">Due Date</span>
					<input type="date" placeholder="Due Date">
				</label>

				<label class="item item-input">
					<textarea placeholder="Additional Info" style="height:100px;"></textarea>
				</label>
			</div>
		</div>

	<!-- Event Actions -->  
		<div class="event-actions">
			<div class="item item-divider" id="event-actions-title">
			Actions
		</div>
		
			<ion-item class="item-toggle">
				Share with Class
				<label class="toggle">
					<input type="checkbox" ng-model="settings.enableShare">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</ion-item>
		</div>	 
	
		<div class="submitButton">
			<button class="button button-block button-calm" style="font-size:18px">
			Add Task
		</button>
		</div>
	</ion-content>
</ion-view>
