<ion-view view-title="Account">
  <ion-content class="padding">
    <ion-list>
     
     <div class="accountsummary">
       <ion-item>
        <div class="email">
           Name:<p class="user-email">{{user.name}}</p>
          </div>
        </ion-item>

       <ion-item>
        <div class="email">
           Email:<p class="user-email">{{user.email}}</p>
          </div>
        </ion-item>
      </div>


        <ion-list>
          <div class="list">
            <div class="item item-divider">
               Enrolled Classes
            </div>

            <a class="item item-icon-left" href="#/app/account/addClass">
              <i class="icon ion-ios-plus-outline"></i>
               Add Class
            </a>

            <div ng-repeat="class in classes" class="item" style="height:64px; padding-bottom:12px; padding-top:12px;">
              {{class.name}}  
              <a ng-click="deleteClass(class)" class="trash-icon item-icon-right"><i class="icon ion-ios-close-outline"></i>
                            <div class="professorname">
              {{class.instructor}}
              </div></a>
             </div>

          </div>
       </ion-list>

      <!-- <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-plus-outline"></i>
        Add Class
       </a>-->
       <!-- Log out Button -->
      <div class="LogOutButton">
        <a href="/logout" class="button button-block add">
          Log Out
        </a>
      <div>


    </ion-list>
  </ion-content>
</ion-view>
