<ion-view view-title="Chats">
	<ion-content>
		<ul class="list">
 			<li class="item" style="padding-bottom: 0px;">
 				<div class="suggested-content">
		    	<div class="title">Midterm Study Session</div>
	    		<div class="course">COGS102B</div>
	    		<div class="date">2/10/15</div>
	    		<div class="endorsed">
	    			<span class="ion-checkmark-round"> by 22 students</span>
	    		</div>
	    		<div class= "action-buttons">
		   		  <button class="button button-clear button-balanced" style="line-height: 30px;"> 
		 			 		Accept
						</button>
						<button class="button button-clear button-assertive" style="line-height: 30px;">
		 					Decline
						</button>
					</div>
				</div>
			</li>
 			<li class="item" style="padding-bottom: 0px;">
 				<div class="suggested-content">
		    	<div class="title">Midterm Study Session</div>
	    		<div class="course">COGS102B</div>
	    		<div class="date">2/10/15</div>
	    		<div class="endorsed">
	    			<span class="ion-checkmark-round"> by 22 students</span>
	    		</div>
	    		<div class= "action-buttons">
		   		  <button class="button button-clear button-balanced" style="line-height: 30px;"> 
		 			 		Accept
						</button>
						<button class="button button-clear button-assertive" style="line-height: 30px;">
		 					Decline
						</button>
					</div>
				</div>
			</li>
			<li class="item" style=" padding-bottom: 0px;">
 				<div class="suggested-content">
		    	<div class="title">Midterm Study Session</div>
	    		<div class="course">COGS102B</div>
	    		<div class="date">2/10/15</div>
	    		<div class="endorsed">
	    			<span class="ion-checkmark-round"> by 22 students</span>
	    		</div>
	    		<div class= "action-buttons">
		   		  <button class="button button-clear button-balanced" style="line-height: 30px;"> 
		 			 		Accept
						</button>
						<button class="button button-clear button-assertive" style="line-height: 30px;">
		 					Decline
						</button>
					</div>
				</div>
			</li>
		 	<li class="item" style="padding-bottom: 0px;">
 				<div class="suggested-content">
		    	<div class="title">Midterm Study Session</div>
	    		<div class="course">COGS102B</div>
	    		<div class="date">2/10/15</div>
	    		<div class="endorsed">
	    			<span class="ion-checkmark-round"> by 22 students</span>
	    		</div>
	    		<div class= "action-buttons">
		   		  <button class="button button-clear button-balanced" style="line-height: 30px;"> 
		 			 		Accept
						</button>
						<button class="button button-clear button-assertive" style="line-height: 30px;">
		 					Decline
						</button>
					</div>
				</div>
			</li>
			 <li class="item" style="padding-bottom: 0px;">
 				<div class="suggested-content">
		    	<div class="title">Midterm Study Session</div>
	    		<div class="course">COGS102B</div>
	    		<div class="date">2/10/15</div>
	    		<div class="endorsed">
	    			<span class="ion-checkmark-round"> by 22 students</span>
	    		</div>
	    		<div class= "action-buttons">
		   		  <button class="button button-clear button-balanced" style="line-height: 30px;"> 
		 			 		Accept
						</button>
						<button class="button button-clear button-assertive" style="line-height: 30px;">
		 					Decline
						</button>
					</div>
				</div>
			</li>
	</ion-content>
</ion-view>
