<ion-view view-title="Dashboard">
	<ion-content>
		<div class="">

			<!-- This Week -->
			<div class="item item-divider">
				<ion class="ion-calendar" style="padding-right:3px;"></ion> This Week
			</div>

			<ion-item ng-repeat="userTask in this_week" id="task{{userTask._id}}" class="item item-checkbox item-icon-right">

				<label ng-show="!useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</label>

				<li ng-show="useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</li>

				<div class="tasks" ng-if="!userTask.is_finished" style="overflow: initial;white-space: initial;">
					<div class="date-title">
						<div ng-show="userTask.task.class.name">{{userTask.day_of_the_week.substr(0, 3)}}</div>
					</div>
					<div class="task-title">
						{{userTask.task.name}}
					</div>
					<div class="course-title">
						{{userTask.task.class.name}}
					</div>
				</div>

				<!-- Completed Tasks checked off-->
				<div class="tasks" ng-if="userTask.is_finished" style="overflow: initial;white-space: initial;">
					<div class="date-title-completed">
						<div ng-show="userTask.task.class.name">
							{{userTask.day_of_the_week.substr(0, 3)}}
						</div>
					</div>
					<div class="task-title-completed">
						{{userTask.task.name}}
					</div>
					<div class="course-title-completed">
						{{userTask.task.class.name}}
					</div>
				</div>
				<!-- ************************************* -->

				<i ng-click="taskDetail(userTask)" class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>


			<!-- Upcoming -->
			<div class="item item-divider">
				<ion class="icon ion-android-stopwatch" style="padding-right:3px;"></ion> Upcoming
			</div>

			<ion-item ng-repeat="userTask in upcoming" id="task{{userTask._id}}" class="item item-checkbox item-icon-right">

				<label ng-show="!useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</label>

				<li ng-show="useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</li>

				<div class="tasks"  ng-if="!userTask.is_finished" style="overflow: initial;white-space: initial;">
					<div class="date-title">
						{{userTask.task.due_date.substr(0, userTask.task.due_date.lastIndexOf('/'))}}
					</div>
					<div class="task-title">
						{{userTask.task.name}}
					</div>
					<div class="course-title">
						{{userTask.task.class.name}}
					</div>
				</div>

				<!-- Completed Tasks checked off-->
				<div class="tasks"  ng-if="userTask.is_finished" style="overflow: initial;white-space: initial;">
					<div class="date-title-completed">
						{{userTask.task.due_date.substr(0, userTask.task.due_date.lastIndexOf('/'))}}
					</div>
					<div class="task-title-completed">
						{{userTask.task.name}}
					</div>
					<div class="course-title-completed">
						{{userTask.task.class.name}}
					</div>
				</div>
				<!-- ************************************* -->


				<i ng-click="taskDetail(userTask)" class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>

			<div class="padding">
			<div class="card" style="text-align: center; margin-left: auto; margin-right: auto;">
		  	<a class="item positive" href="#/app/tasks/completed">
			    <i class="icon ion-checkmark-circled"></i> Show Completed Tasks
		  	</a>
		  	</div>
		  	</div>


			<!-- OLD This Week Task -->
			<!--	<li class="item item-checkbox"  ng-repeat="userTask in this_week" ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished" >

				
					<div  ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished"  class="checkbox">
						<input type="checkbox" ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished">
					</div>

				
					<div class="tasks">
										<a href="#/app/tasks/{{userTask.task._id}}">

						<div class="task-title">
							{{userTask.task.name}}
						</div>
						<div class="date-title">
							{{userTask.day_of_the_week}}
						</div>
						<div class="course-title">
							{{userTask.task.class.name}}
						</div>
						</a>
					</div>
	
					
					<i class="ion-chevron-down" style="float:right;
					margin-top: -39px;" id="dropdown"></i>

			
					<div class="detail">
						Detail:   {{userTask.task.description}}
						<div class="endorsed">
							<span class="ion-checkmark-round">{{task.endorsed_message}}</span>
						</div>       
					</div>
			</li> -->

		</div>
	</ion-content>
</ion-view>
