<ion-view view-title="Dashboard">
	<ion-content>
		<div class="">

			<!-- This Week -->
			<div class="item item-divider">
				This Week
			</div>

			<ion-item ng-repeat="userTask in this_week" class="item item-checkbox item-icon-right">

				<label ng-show="!useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</label>

				<li ng-show="useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</li>


				<div class="tasks">
					<div class="task-title">
						<p style="word-wrap: break-word;">{{userTask.task.name}}</p>
					</div>
					<div class="date-title">
						{{userTask.day_of_the_week}}
					</div>
					<div class="course-title">
						{{userTask.task.class.name}}
					</div>
				</div>

				<i ng-click="taskDetail(userTask)" class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>


			<!-- Upcoming -->
			<div class="item item-divider">
				Upcoming
			</div>

			<ion-item ng-repeat="userTask in upcoming" class="item item-checkbox item-icon-right">

				<label ng-show="!useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</label>

				<li ng-show="useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</li>

				<div class="tasks">
					<div class="task-title">
						{{userTask.task.name}}
					</div>
					<div class="date-title">
						{{userTask.task.due_date}}
					</div>
					<div class="course-title">
						{{userTask.task.class.name}}
					</div>
				</div>

				<i ng-click="taskDetail(userTask)" class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>


			<!-- Completed -->
			<div class="item item-divider">
				Past
			</div>

			<ion-item ng-repeat="userTask in archived" class="item item-checkbox item-icon-right">

				<label ng-show="!useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</label>

				<li ng-show="useB" class="checkbox">
				  <input type="checkbox" ng-model="userTask.is_finished" ng-change="updateUserTask(userTask)">
				</li>

				<div class="tasks">
					<div class="task-title">
						{{userTask.task.name}}
					</div>
					<div class="date-title">
						{{userTask.task.due_date}}
					</div>
					<div class="course-title">
						{{userTask.task.class.name}}
					</div>
				</div>

				<i ng-click="taskDetail(userTask)" class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>


			<!-- OLD This Week Task -->
			<!--	<li class="item item-checkbox"  ng-repeat="userTask in this_week" ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished" >

				
					<div  ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished"  class="checkbox">
						<input type="checkbox" ng-change="updateUserTask(userTask)" ng-model="userTask.is_finished">
					</div>

				
					<div class="tasks">
										<a href="#/app/tasks/{{userTask.task._id}}">

						<div class="task-title">
							{{userTask.task.name}}
						</div>
						<div class="date-title">
							{{userTask.day_of_the_week}}
						</div>
						<div class="course-title">
							{{userTask.task.class.name}}
						</div>
						</a>
					</div>
	
					
					<i class="ion-chevron-down" style="float:right;
					margin-top: -39px;" id="dropdown"></i>

			
					<div class="detail">
						Detail:   {{userTask.task.description}}
						<div class="endorsed">
							<span class="ion-checkmark-round">{{task.endorsed_message}}</span>
						</div>       
					</div>
			</li> -->

		</div>
	</ion-content>
</ion-view>
