
	<ion-view view-title="Task Details">
	<ion-content class="padding">

		<div class="list card">

		  <div class="item item-body">

		  	<div class="task-detail-title">
				{{task.name}}<!--{{userTask.task.name}}-->
			</div>
			<div class="task-detail-date">
				Due Date: {{task.due_date}} <!--{{userTask.task.due_date}}-->
			</div>
			<div class="task-detail-class">
				{{task.class.name}} <!--{{userTask.task.class.name}}-->
			</div>		  
		  	<div id="task-details">Details</div>
		    <p id="message">
		      {{task.description}}
		    </p>
		   
		   <div class="task-detail-endorsed">

                        <span class="ion-checkmark-round" style="padding-right:3px;"></span>{{task.endorsed_message}}


		    </div>
		  </div>
		  	</div>	
		    <div  ng-click="deleteTask(task)" class="task-detail-delete">
		    <button  class="button button-medium trash" style="width:113px !important;">
		    <a class="item-icon trash-button" href="#">
		      <i class="icon ion-trash-a" style="margin-left:-13px !important;"> Delete</i>
		    </a>
		    </button>
		</div>



		<!--<p id="title-detail">Details</p>
			<i id="trashcan" ng-class="{'icon ion-ios-trash': deleted, 'ion-ios-trash-outline': !deleted}" ng-click="deleted=!deleted"></i>
			<div class="detail">
			Detail:   
				userTask.task.description    
			</div>
			<!--<div class="endorsed">
			<span class="ion-checkmark-round">{{task.endorsed_message}}</span>
			</div>-->  
	</ion-content>
</ion-view>